* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/* FONT FAMILIES
font-family: 'Raleway', sans-serif;
font-family: 'Infinite Stroke', cursive;
*/
html {
  background-image: url("../images/backgroundtyme.jpg");
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
	max-width: 100%;
}

@font-face {
	font-family: 'Infinite_Stroke';
	src: url('fonts/Infinite_Stroke.otf');
}

body {
	font-family: 'Raleway', sans-serif;
}


header {
  background: #000000;
  position: fixed;
  left: 0;
  right: 0;
  padding: 1% 0;
  text-align: center;
  z-index: 100;
}

header nav ul li {
  display: inline;
	margin: auto;
	padding: 2% 0;
	text-align: center;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  margin: 0 20px;
  border: 4px solid #3aa4d4;
  border-radius: 4px;
}
a {
  font-family: 'Infinite Stroke', cursive;
  padding: 5px 10px;
}

header nav a:hover {
  color: #3aa4d4;
}

h1, h2 {
	font-family: 'Infinite Stroke', cursive;
}

h1	{
	text-align: center;
	margin-top: 5%;
	padding: 1% 0;
	clear: both;
	font-size: 2em;
}
h2	{
	text-align: center;
	font-size: 1.5em;
	padding: 2% 0;

}

.desktop-menu {
	display: none;
}

/* ************* HAMBURGER MENU ********** */

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

/* ************* END HAMBURGER MENU ********** */

main {
	max-width: 1200px;
	background-color: #3aa4d4;
	margin: 0 auto;
	box-shadow: 5px 10px black;
	padding-top: 10%;
}

figure {
	max-width: 450px;
	width: 80%;
	padding: 1% 2% 1% 2%;
	margin: auto;
}

img {
	width: 100%;
}

aside {
	max-width: 450px;
	width: 100%;
	margin: auto;
	flex: 1;
}

video {
	width: 75%;
	max-width: 100%;
	display: block;
	margin: auto;
	padding-bottom: 2%;
}

h2, p {
	padding: 1% 5% 1% 5%;
}

.about {
	clear: both;
	overflow: auto;
	padding-bottom: 1%;
}

#column1 {
	flex: 1;
}

#column2 {
	flex: 1;
	width: 100%;

}

.container {
  background-color: #3aa4d4;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 6%;
  display: flex;
	flex-direction: row;
	justify-content: center;
}
.homesection {
	display: flex;
	flex-direction: column;
}
.homecontainer {
  background-color: #3aa4d4;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 6%;
  display: flex;
	flex-direction: row;
	justify-content: space-between;
}




/*========================================
*
*           our works
*
*
*=========================================*/
.music p {
	max-width: 700px;
	width: 100%;
	margin:auto;
}
.works p{
text-align:center;
width:100%;
max-width:700px;
margin: auto;
}

.works img {
  width: 250px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.works:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.works {
  text-align:center;
}

.mediaplayer div {
  display: block;
  max-width: 550px;
	width: 100%;
	margin: auto;
}

/*========================================
*
*           service
*
*
*=========================================*/

.servicesection {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.servicecontainer {
  background-color: #3aa4d4;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 6%;
  display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#service {
	flex: 1;
}

#services {
	flex: 1;
	padding-top: 10%;
}




/*========================================
*
*           section breaks
*
*
*=========================================*/
.section-break {
	padding: 2%;
}

.section-break-bottom {
  padding: 100px 0;
}

/*========================================
*
*           booking/contact
*
*
*=========================================*/

.label_input_wrap {
  vertical-align: top;
  display:block;
}

.label_input_wrap::before {
  color:red;
  content: "*";
}

.booking-section p {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}

input,
textarea {
  border: 1px solid black;
  padding: 9px 11px;
}

.submit input {
  background: #3aa4d4;
  color: white;
  font-family: 'Charter', serif;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

.booking-section {
  text-align: center;
}

.booking-section p {
	max-width: 800px;
}

.contact-form {
  background: white;
  padding: 20px;
  max-width: 400px;
	width: 100%;
  border-radius: 4px;
  color: black;
  font-family: sans-serif;
  margin: 0 auto;
  text-align: left;
}

.contact-form div {
  margin-bottom: 10px;
}

.contact-form h4 {
  margin-bottom: 10px;
}

.input-section:last-child {
  text-align: center;
}

::selection {
  background: white;
  color: black;
}


footer {
	background-color: #000000;
	color: white;
	text-align: center;
	padding: 5% 0 5% 0;
	clear: both;
	left: 0;
	bottom: 0;
	width: 100%;
}

}
@media (min-width: 320px) {

	.home img {
		text-align: center;
		margin: auto;
		max-width: 100%;
		width: 100%;
	}
	video {
		margin: auto;
		display: block;
	}
}

@media (min-width: 320px) and (max-width: 450px) {
 	#comments {
		max-width: 300px;
	}

	.contactform {
		max-width: 400px;
		width:100%;
	}
}
/* ************* START 690 MEDIA QUERY ********** */

@media (min-width: 690px) {
		.menu, .hamburger, .cross {
			display: none;
		}

		.desktop-menu {
			display: block;
			text-align: center;
			margin: 2% 0 2% 0;
		}
		.desktop-menu ul li {
			display: inline;
			list-style-type: none;
			padding: 4% 0;
		}
	}

	/* ************* END 690 MEDIA QUERY ********** */

	/* ************* START 850 MEDIA QUERY ********** */

@media (min-width: 980px) {
		figure {
		margin: auto;
		float: left;
		}
		aside {
			margin: auto;
			float: right;
			max-width: 100%;
			width: 450px;
		}
 		.firstpart {
			width: 50%;
			margin: auto;
			float: left;
		}
		.secondpart {
			width: 50%;
			margin: auto;
			float: right;
		}
}

/* ************* END 850 MEDIA QUERY ********** */


@media (max-width: 979px) {
	figure {
		max-width: 400px;
		width: 100%;
		margin: auto;
	}
	video {
		width: 80%;
		max-width: 100%;
		display: block;
		margin: auto;
	}
}
